.u-section-1 .u-sheet-1 {
  min-height: 786px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0 440px;
}

.u-section-1 .u-gallery-1 {
  height: 1090px;
  grid-gap: 17px 17px;
  margin: 78px auto 60px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 61px 61px;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --effect-scale: 1.25;
  margin-top: 0;
  margin-bottom: 0;
  border-style: double;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 38.75%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --effect-scale: 1.25;
  margin-top: 0;
  margin-bottom: 0;
  border-style: double;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 29.55%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --effect-scale: 1.25;
  border-style: double;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 0%;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --effect-scale: 1.25;
  border-style: double;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-1 .u-gallery-item-5 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --effect-scale: 1.25;
  border-style: double;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-5 {
  object-position: 50% 85.5%;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-1 .u-gallery-item-6 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --effect-scale: 1.25;
  border-style: double;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-1 .u-gallery-item-7 {
  margin-right: 0;
  margin-top: 0;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin-bottom: 0;
  border-style: double;
}

.u-section-1 .u-back-image-7 {
  object-position: 50% 60.85%;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-1 .u-gallery-item-8 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --effect-scale: 1.25;
  border-style: double;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-1 .u-gallery-item-9 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --effect-scale: 1.25;
  border-style: double;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-9 {
  object-position: 50% 10.09%;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-1 .u-gallery-item-10 {
  margin-right: 0;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  --effect-scale: 1.25;
  border-style: double;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-10 {
  object-position: 50% 7.83%;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 340px;
  }

  .u-section-1 .u-gallery-1 {
    height: 902px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-1 .u-gallery-item-7 {
    --effect-scale: 1.25;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 230px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1306px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3653px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 185px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 100px;
    height: 3957px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2244px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 107px;
  }

  .u-section-1 .u-gallery-1 {
    height: 2548px;
    margin-right: initial;
    margin-left: initial;
  }
}